{% extends 'UI/include/main.html' %}
{% load static %}
{% load mptt_tags %}

{% block content %}
    <div class="col">
        <div class="container-fluid h-100 ">
            <div class="row body_row">
                <div class="col-12 body">
                    <div class="body_item">
                        <div class=" my-1 card_ ">

                            <div class="d-flex d-flex align-items-center card_item mb-1">
                                <div class="user_img_header rounded-5 me-2">
                                    {% if post.author.image %}
                                        <img src="{{ post.author.image.url }}" alt="">
                                    {% else %}
                                        <img src="{% static 'img/no-name.jpg' %}" alt="">
                                    {% endif %}
                                </div>
                                {% if post.author %}
                                    <div class="card_login me-2">{{ post.author.username }}</div>
                                {% else %}
                                    <div class="card_login me-2">User</div>
                                {% endif %}
                                <div class="card_time">{{ post.time_created|timesince }} назад</div>

                            </div>
                            <div class="card_title_detail ">
                                <h1>{{ post.name }}</h1>
                            </div>
                            <div class="d-flex mb-2">
                                <div class="me-2">{{ post.language.icon|safe }}
                                </div>
                                {% for cat in post.category.get_family %}
                                    <div class="me-2"><span class="badge text-bg-secondary">{{ cat.name }}</span>
                                    </div>
                                {% endfor %}


                            </div>

                            {% if post.preview_image %}
                                <div class="my-2 img_post_pr">
                                    <img src="{{ post.preview_image.url }}" alt="{{ post.name }}"/>
                                </div>
                            {% endif %}
                            <div class="card_description">
                                {{ post.description|safe }}

                            </div>
                            <div class="my-2">Теги:
                                {% for tag in post.tag.all %}

                                    <span>{{ tag.name }}</span>

                                {% endfor %}


                            </div>

                            <div class="d-flex justify-content-between">
                                <div class="d-flex ">
                                    <div class="d-flex me-4 card_time" title="Количество просмотров">
                                        <div class="me-1"><i class="fa-regular fa-eye "></i></div>
                                        <div class=""><p>{{ post.views }}</p></div>
                                    </div>
                                    <div class="d-flex me-4 card_time" title="Комментарии">
                                        <div class="me-1"><i class="fa-regular fa-comment"></i></div>
                                        <div class="">{{ post.comment.count }}</div>
                                    </div>
                                    <div class="d-flex me-4 " title="Поделиться">
                                        <div class="card_link card_time"><a href="#"><i
                                                class="card_time fa-solid fa-share"></i></a>
                                        </div>
                                    </div>
                                    <div class="d-flex me-4 card_time" title="Добавить в закладки">
                                        <div class=""><i class="fa-regular fa-bookmark"></i></div>

                                    </div>
                                </div>

                            </div>
                            <hr>
                            <div class="">Комментарии: {{ post.comment.count }}</div>
                            <div class="comment_all my-3">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-10">


                                        {% for comment in comments %}

                                            <div class="comment_item mb-2">
                                                <div class="d-flex d-flex align-items-center comment_header p-1">
                                                    <div class="user_img_comment rounded-2 me-2">
                                                        {% if comment.user.image %}
                                                            <img src="{{ comment.user.image.url }}" alt="">
                                                        {% else %}
                                                            <img src="{% static 'img/no-name.jpg' %}" alt="">
                                                        {% endif %}
                                                    </div>
                                                    {% if post.author %}
                                                        <div class="card_login me-2">{{ comment.user.username }}</div>
                                                    {% else %}
                                                        <div class="card_login me-2">User</div>
                                                    {% endif %}
                                                    <div class="card_time">{{ comment.date|timesince }} назад...</div>

                                                </div>
                                                <div class="p-1">
                                                    <div class="">{{ comment.content }}
                                                    </div>
                                                    {% if comment.user == user %}
                                                    <div class="mt-1 text-end">
                                                        <a href="{% url "delete_comment" comment.pk %}">удалить</a></div>
                                                    {% endif %}
                                                </div>
                                            </div>

                                        {% endfor %}





                                            {% if user.is_authenticated %}
                                            <div class="">
                                                <form action="{% url "create_comment" %}" method="post">
                                                    {% csrf_token %}

                                                    <div class="form-floating">
                                                            {{ comment_form.content }}

                                                        <label for="floatingTextarea2">Ваш комментарий</label>
                                                        <input type="hidden" name="post_id" value="{{ post.id }}">
                                                        <input type="hidden" name="user_id" value="{{ user.id }}">
                                                        <div class="text-end">

                                                            <button type="submit" class="btn">Отправить
                                                            </button>

                                                        </div>

                                                    </div>
                                                </form>
                                            </div>
                                        {% endif %}

                                        </div>
                                    </div>
                                </div>

                            </div>


                        </div>

                    </div>


                </div>


            </div>
        </div>
    </div>

{% endblock content %}