{% extends 'UI/include/main.html' %}
{% load static %}
{% load mptt_tags %}

{% block content %}
<div class="col">
    <div class="container-fluid h-100 ">
        <div class="row body_row">
            <div class="col-12 body">
                <div class="body_item">
                    <div class=" my-1 card_ ">
                        <div class="card_title "><h1>{{ post.name }}</h1>
                        </div>
                        <div class="d-flex d-flex align-items-end card_item mb-1">
                            <div class="card_img me-2">
                                <img src="" alt="">
                            </div>
                            {% if post.author %}
                            <div class="card_login me-2">{{ post.author.username }}</div>
                            {% else %}
                            <div class="card_login me-2">User</div>
                            {% endif %}
                            <div class="card_time">14 минут назад</div>


                        </div>
                        <div class="d-flex mb-2">
                            <div class="me-2">{{ post.language.icon|safe }}
                            </div>
                            {% for cat in post.category.get_family %}
                            <div class="me-2"><span class="badge text-bg-secondary">{{ cat.name }}</span>
                            </div>
                            {% endfor %}



                        </div>

                        <div class="my-2"><img src="" alt="{{ post.name }}"></div>
                        <div class="card_description">
                            {{ post.description }}

                        </div>
                        <div class="d-flex justify-content-between">
                            <div class="d-flex ">
                                <div class="d-flex me-2 " title="Количество просмотров">
                                    <div class=""><i class="fa-regular fa-eye "></i></div>
                                    <div class=""><p>{{ post.total_views }}</p></div>
                                </div>
                                <div class="d-flex me-2" title="Комментарии">
                                    <div class=""><i class="fa-regular fa-comment"></i></div>
                                    <div class="">{{ post.comment.count }}</div>
                                </div>
                                <div class="d-flex me-2" title="Поделиться">
                                    <div class="card_link"><a href="#"><i class="fa-solid fa-share"></i></a>
                                    </div>
                                </div>
                                <div class="d-flex me-2" title="Добавить в закладки">
                                    <div class=""><i class="fa-regular fa-bookmark"></i></div>

                                </div>
                            </div>

                        </div>

                    </div>

                </div>


            </div>


        </div>
    </div>
</div>

{% endblock content %}