{% load static %}

<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="loginModalLabel">Авторизация {{user.username}} </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <nav class="navbar bg-body-tertiary">
                        <div class="container-fluid">
                            <form method="post" action="{% url "login" %}">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">username/email</label>
                                    {{login_form.username}}
                                    <div id="emailHelp" class="form-text">мы никому не расскажем
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputPassword1" class="form-label">Password</label>
                                    {{login_form.password}}
                                </div>
                                <input type="hidden" name="path" value="{{ request.path }}">
                                <div class="mb-3 form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </nav>
                </div>
                <p><a href="{%  url 'register' %}">регистрация</a></p>
            </div>
        </div>
    </div>