{% load static %}

<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="loginModalLabel">Авторизация {{ user.username }} </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body ">
                <nav class="navbar bg-body-tertiary">

                    <div class=" qwerty">
{#                        <div class="">ddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd</div>#}
                        <form method="post" action="{% url "login" %}">
                            {% csrf_token %}
                            <div class="mb-3 row">
                                <label for="exampleInputEmail1" class="col-sm-3 col-form-label">Login / Email</label>
                                <div class="col-sm-9">
                                    {{ login_form.username }}
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="exampleInputPassword1" class="col-sm-3 col-form-label">Пароль</label>
                                <div class="col-sm-9">
                                    {{ login_form.password }}
                                </div>
                            </div>
                            <input type="hidden" name="path" value="{{ request.path }}">
                            <div class="mb-3 form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
                                <label class="form-check-label" for="exampleCheck1">временная капча</label>
                            </div>
                            <button type="submit" class="btn btn_reg mt-3 mb-2">Войти</button>
                            <div class="login_a"><a href="#">Забыли пароль?</a></div>
                        </form>

                    </div>
                </nav>

                <div class="">Ещё нет аккаунта? <a href="{% url 'register' %}">Зарегистрируйтесь</a></div>
            </div>

        </div>
    </div>
</div>