{% extends 'UI/include/main.html' %}
{% load static %}

{% block content %}



    <div class="col-md-12 ">
        <div class="reg_body">
            {% if user.is_authenticated %}



                <div class="profile_title"><h1>{{ title }}</h1></div>
                <hr>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}


                    {{ form.non_field_errors }}

                    {% for f in form %}
                        <div class="my-3 row">
                            <label for="{{ f.id_for_label }}"
                                   class="col-sm-3 col-form-label">{{ f.label }}</label>
                            <div class="col-sm">
                                {{ f }}
                            </div>

                            <div class="">
                                {{ f.errors }}
                            </div>
                        </div>
                    {% endfor %}
                    <div class="user_img_preview ">
                        {% if user.image %}
                            <img
                                    src="{{ user.image.url }}"
                                    alt="">
                        {% else %}
                            <img src="{% static 'img/no-name.jpg' %}" alt="">
                        {% endif %}
                    </div>
                    <div class="d-flex">
                        <input id="html" type="checkbox" class="me-2" required>
                        <label for="html">капча</label>
                    </div>

                    <a href="#">Изменить пароль</a>
                    <button type="submit" class="btn btn_reg my-3">Сохранить</button>

                </form>
            {% endif %}


        </div>
    </div>



{% endblock %}
