{% extends 'UI/include/main.html' %}
{% load static %}

{% block content %}
    <div class="col">
        <div class="container-fluid h-100">
            <div class="row body_row">
                <div class="col-12 body">

                    <div class="col-md-6">
                        {% if user.is_authenticated %}
                            <p>Для регистрации нужно выйти из аккаунта</p>
                        {% else %}
                            <form method="post">
                                {% csrf_token %}
                                {{ form.as_p }}

                                <button type="submit" class="btn btn-primary btn-block">Регистрация</button>
                            </form>
                        {% endif %}
                    </div>


                </div>

            </div>
        </div>
    </div>
{% endblock %}
