{% extends 'UI/include/main.html' %}
{% load static %}

{% block content %}



    <div class="col-md-12 ">
        <div class="reg_body">
            {% if user.is_authenticated %}
                <div class="profile_title"><h1>{{ title }}</h1></div>
                <div class="">{{ description }}</div>
                <hr>
                <form action="{% url 'suggest_article' %}" method="post">
                    {% csrf_token %}


                    {{ form.non_field_errors }}



                    <div class="form-floating">
                        {{ form.content}}

                        <label for="floatingTextarea2">Предложить новость</label>



                    </div>

                    <div class="d-flex">
                        <input id="html" type="checkbox" class="me-2" required>
                        <label for="html">капча</label>
                    </div>


                    <button type="submit" class="btn btn_reg my-3">Отправить</button>

                </form>

            {% else %}
                <p>Авторизуйтесь</p>
            {% endif %}


        </div>
    </div>



{% endblock %}
