{% load blog_tags %}
{% load users_tags %}
{% load static %}


<header class="header  mb-4 sticky-top " id="header-nav">
    <div class="container-fluid">
        <div class="row header_row align-items-center">
            <div class="col-4 col-lg-2 d-none d-sm-flex align-items-center justify-content-center logo d-flex  header_link order-2 order-lg-1">
                <h1>
                    <a href="{% url 'main_page_view' %}">it_hlp</a>
                </h1>
            </div>

            <div class="col-4 col-lg text-center d-flex align-items-center justify-content-center order-1 order-lg-2 ">
                <nav class="navbar navbar-expand-lg " data-bs-theme="dark">
                    <div class="container-fluid">

                        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                                data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="offcanvas offcanvas-start" id="offcanvasNavbar" tabindex="-1"
                             aria-labelledby="offcanvasNavbarLabel">
                            <div class="offcanvas-header">
                                <h5 class="offcanvas-title" id="offcanvasLabel">Меню</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                                        aria-label="Close"></button>
                            </div>

                            {% get_header_menu %}

                        </div>
                    </div>
                </nav>
            </div>

            <div class="col col-lg-2 d-flex align-items-center justify-content-evenly order-3 header_icons header_link">

                <button type="button" class="btn header_search" data-bs-toggle="modal"
                        data-bs-target="#searchModal" title="Поиск">
                    <i class="fa-solid fa-magnifying-glass fa-rotate-90 fa-xl  "></i>
                </button>

                {% if user.is_authenticated %}
                    <button type="button" class="btn header_search" title="Закладки">
                        <i class="fa-regular fa-bookmark fa-xl"></i>
                    </button>

                    <button type="button" class="btn header_login" data-bs-toggle="modal"
                            data-bs-target="#loginsetModal" title="Admin">
                        {#                        <div class=""><img src="assets/img/no-name.jpg" alt=""></div>#}
                        <div class="">
                            {% if user.image %}
                                <img
                                        src="{{ user.image.url }}"
                                        alt="">
                            {% else %}
                                <img src="{% static 'img/no-name.jpg' %}" alt="">
                            {% endif %}
                        </div>

                    </button>

                {% else %}
                    <button type="button" class="btn header_search" data-bs-toggle="modal"
                            data-bs-target="#loginModal" title="Авторизация">
                        <i class="fa-solid fa-key fa-xl"></i>
                    </button>
                {% endif %}

            </div> <!--  -->
        </div> <!--  -->
    </div> <!--  -->
</header>


<!-- modal window for search -->
{% include "UI/include/search_modal.html" %}
<!-- /modal window for search -->


<!-- modal window for login -->
{% comment %} <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="loginModalLabel">Авторизация</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <nav class="navbar bg-body-tertiary">
                    <div class="container-fluid">

                        {% include "users/login.html" %}

                            {#                        <form>#}

                                                        
                            {#                            <div class="mb-3">#}
                            {#                                <label for="exampleInputEmail1" class="form-label">Email address</label>#}
                            {#                                <input type="email" class="form-control" id="exampleInputEmail1"#}
                            {#                                       aria-describedby="emailHelp">#}
                            {#                                <div id="emailHelp" class="form-text">We'll never share your email with anyone#}
                            {#                                    else.#}
                            {#                                </div>#}
                            {#                            </div>#}
                            {#                            <div class="mb-3">#}
                            {#                                <label for="exampleInputPassword1" class="form-label">Password</label>#}
                            {#                                <input type="password" class="form-control" id="exampleInputPassword1">#}
                            {#                            </div>#}
                            {#                            <div class="mb-3 form-check">#}
                            {#                                <input type="checkbox" class="form-check-input" id="exampleCheck1">#}
                            {#                                <label class="form-check-label" for="exampleCheck1">Check me out</label>#}
                            {#                            </div>#}
                            {#                            <button type="submit" class="btn btn-primary">Submit</button>#}

                            {#                        </form>#}

                    </div>
                </nav>
            </div>

        </div>
    </div>
</div> {% endcomment %}
<!-- /modal window for login -->
{% get_login_modal %}
<!-- modal window for login.settings -->
<div class="modal fade" id="loginsetModal" tabindex="-1" aria-labelledby="loginsetModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="loginsetModalLabel">Настройки</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <nav class="navbar bg-body-tertiary">
                    <div class="container-fluid">
                        <p><a href="{% url 'logout' %}">Выйти</a></p>
                </nav>
            </div>

        </div>
    </div>
</div>
<!-- /modal window for login.settings  -->

